.sharelanding{
	position: fixed;
	z-index: 50;
	top:0;
	left: 0;
	right: 0;
}
.sharelanding h3{
	font-size: 18px;
	line-height: normal;
}
.sharelanding-box{
	width: 934px;
	margin: 114px auto 0 auto;
	padding: 20px 0 0 30px;
	background-color:rgba(0,0,0,0.9);
	font-size: 12px;
	box-shadow: 0 0 6px #a0a0a0;
	position: relative;
	color: rgb(246, 246, 246);
}
.sl-left{
	display: inline-block;
	width: 455px;
	vertical-align: top;
}
.sl-left h3{
	margin-top: 15px;
}
.sl-left h3 a{
	color: rgb(70, 170, 50);
}
.sharelanding.nosolution .sl-left{
	display: none;
}
.solutionparameters{
	margin-top: 40px;
	font-size: 14px;
	white-space: nowrap;
}
.solutionparameters td:first-of-type{
	max-width: 270px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.solutionparameters td:first-of-type:after{
	content: " ...........................................................";
}
.solutionparameters td:last-of-type{
	color: #ccc;
	font-size: 12px;
	padding-left: 5px;
}
.solutionparameters .big{
	font-size: 17px;
	color: rgb(246, 246, 246);
}
.sl-right{
	display: inline-block;
	width: 393px;
	margin-left: 25px;
	margin-bottom: 20px;
	vertical-align: top;
	background-color: rgb(68,68,68);
	padding: 15px 20px;
	font-size: 14px;
	color: #ccc;
	line-height: 140%;
}
.sharelanding.nosolution .sl-right{
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: transparent;
}
.sl-right h3{
	margin-bottom: 10px;
}
.sl-buttonspace{
	text-align: center;
}
.sl-open-space{
	text-align: center;
	position: absolute;
	width: 455px;
	bottom: 135px;
	left: 30px;
}
.sl-open, .sl-new{
	color: #fff;
    margin-top: 10px;
    padding: 6px 16px;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: normal;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
	font-weight: 500;
	font-size: 12px;
}
.sl-open{
	margin-top: 20px;
	background-color: rgb(70, 170, 50);
}
.sl-new{
	background-color: #B5B5B5;
}
.sl-open:active {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: #346636;
}
.sl-new:active{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    background-color: #666666;
}

.sl-sponsors{
	background-color: #fff;
	margin: 0 0 0 -30px;
	padding: 2px 0 15px 20px;
	color: #888;
	font-size: 12px;
	height: 83px;
}
.sl-sponsors:before{
	content: 'Yhteistyössä:';
	display: block;
	position: absolute;
	padding-top: 5px;
}
.sl-sponsors > a{
	display: inline-block;
	vertical-align: bottom;
	margin-right: 23px;
	margin-top: 10px;
}
.sl-sponsors span{
    position: absolute;
    right: 20px;
    bottom: 15px;
    text-align: right;
    font-size: 11px;
    color: #666;
}